{
  "openapi": "3.0.3",
  "info": {
    "title": "Charged API",
    "description": "The Charged API provides comprehensive ride-sharing and transportation services including:\n\n- **Ride Management**: Request, track, and manage rides\n- **User Management**: Riders, drivers, and business accounts\n- **Payment Processing**: Stripe integration for payments and tips\n- **Referral System**: User referral programs and rewards\n- **Promotions**: Discount codes and promotional campaigns\n- **Scheduled Rides**: Advanced booking and recurring rides\n- **Business Features**: Corporate accounts, invoicing, and analytics\n- **Vehicle Classes**: Different vehicle types including Charged XL\n- **Wallet System**: Digital wallet for credits and transactions\n\n## Authentication\nMost endpoints require a JWT token obtained from `/auth/login` or `/auth/register`. Include the token in the Authorization header:\n```\nAuthorization: Bearer <your-jwt-token>\n```\n\n## Rate Limiting\nAPI requests are rate limited to 1000 requests per hour per API key.\n\n## Error Handling\nThe API uses standard HTTP status codes and returns detailed error information in JSON format.\n\n## Versioning\nThis API is versioned. The current version is v3, accessible at `/v3/` prefix.\n",
    "version": "2025.09.15-rc.1",
    "contact": {
      "name": "Charged API Support",
      "email": "api-support@charged.autos",
      "url": "https://charged.autos/support"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://charged.autos/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.charged.autos/v3",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.charged.autos/v3",
      "description": "Staging server"
    },
    {
      "url": "http://localhost:3000/v3",
      "description": "Development server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication and authorization"
    },
    {
      "name": "Riders",
      "description": "Rider account management and operations"
    },
    {
      "name": "Drivers",
      "description": "Driver account management and operations"
    },
    {
      "name": "Businesses",
      "description": "Business account management and corporate features"
    },
    {
      "name": "Rides",
      "description": "Ride management and tracking"
    },
    {
      "name": "Wallet",
      "description": "Digital wallet and transaction management"
    },
    {
      "name": "Payments",
      "description": "Payment processing and Stripe integration"
    },
    {
      "name": "Tips",
      "description": "Driver tipping system"
    },
    {
      "name": "Referrals",
      "description": "User referral system and rewards"
    },
    {
      "name": "Promotions",
      "description": "Promotional campaigns and discount codes"
    },
    {
      "name": "Scheduled Rides",
      "description": "Advanced booking and scheduled ride management"
    },
    {
      "name": "Invoices",
      "description": "Business invoicing and billing"
    },
    {
      "name": "Catalog",
      "description": "Vehicle classes and service catalog"
    },
    {
      "name": "Notifications",
      "description": "Push notifications and messaging"
    },
    {
      "name": "Analytics",
      "description": "Analytics and reporting"
    },
    {
      "name": "Admin",
      "description": "Administrative operations and management"
    }
  ],
  "externalDocs": {
    "description": "Charged API Documentation",
    "url": "https://docs.charged.autos"
  },
  "paths": {
    "/admin/vehicle-classes": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List vehicle classes",
        "operationId": "admin.listVehicleClasses",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of vehicle classes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "vehicle_classes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VehicleClass"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Create vehicle class",
        "operationId": "admin.createVehicleClass",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code",
                  "display_name"
                ],
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Vehicle class code"
                  },
                  "display_name": {
                    "type": "string",
                    "description": "Human-readable name"
                  },
                  "is_enabled": {
                    "type": "boolean",
                    "default": true
                  },
                  "base_fare_cents": {
                    "type": "integer",
                    "default": 0
                  },
                  "per_km_cents": {
                    "type": "integer",
                    "default": 0
                  },
                  "per_min_cents": {
                    "type": "integer",
                    "default": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Vehicle class created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "vehicle_class": {
                      "$ref": "#/components/schemas/VehicleClass"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "description": "Vehicle class already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/admin/vehicle-classes/{code}": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get vehicle class",
        "operationId": "admin.getVehicleClass",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Vehicle class code"
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicle class details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "vehicle_class": {
                      "$ref": "#/components/schemas/VehicleClass"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Update vehicle class",
        "operationId": "admin.updateVehicleClass",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Vehicle class code"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "is_enabled": {
                    "type": "boolean"
                  },
                  "base_fare_cents": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "per_km_cents": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "per_min_cents": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "display_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vehicle class updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "vehicle_class": {
                      "$ref": "#/components/schemas/VehicleClass"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Delete vehicle class",
        "operationId": "admin.deleteVehicleClass",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Vehicle class code"
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicle class deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/admin": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get admin user details",
        "operationId": "admin.getUserDetails",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/admin/getdrivers": {
      "get": {
        "tags": [
          "Drivers"
        ],
        "summary": "Get getdrivers",
        "operationId": "getAdminGetdrivers",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/admin/getriders": {
      "get": {
        "tags": [
          "Riders"
        ],
        "summary": "Get getriders",
        "operationId": "getAdminGetriders",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/admin/dashboardstats": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get dashboard statistics",
        "operationId": "admin.getDashboardStats",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/admin/rewards": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get rewards list",
        "operationId": "admin.getRewards",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Create reward",
        "operationId": "admin.createReward",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/admin/documenttypes": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get document types",
        "operationId": "admin.getDocumentTypes",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Create document type",
        "operationId": "admin.createDocumentType",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/analytics/tips": {
      "get": {
        "tags": [
          "Tips"
        ],
        "summary": "Get tips analytics",
        "operationId": "tips.getAnalytics",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/analytics/tips/summary": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get tips summary",
        "operationId": "analytics.getTipsSummary",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "User login",
        "description": "Authenticate user with email and password",
        "operationId": "authLogin",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "token",
                    "user"
                  ],
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "JWT access token"
                    },
                    "refreshToken": {
                      "type": "string",
                      "description": "JWT refresh token"
                    },
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "User registration",
        "description": "Register a new user account",
        "operationId": "authRegister",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password",
                  "firstName",
                  "lastName",
                  "role"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "rider",
                      "driver"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Registration successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "token",
                    "user"
                  ],
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "JWT access token"
                    },
                    "refreshToken": {
                      "type": "string",
                      "description": "JWT refresh token"
                    },
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Refresh access token",
        "description": "Get a new access token using refresh token",
        "operationId": "authRefresh",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refreshToken"
                ],
                "properties": {
                  "refreshToken": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token refreshed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "token"
                  ],
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "New JWT access token"
                    },
                    "refreshToken": {
                      "type": "string",
                      "description": "New JWT refresh token"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/token/exchange": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Exchange token",
        "description": "Exchange one type of token for another (e.g., temporary for permanent)",
        "operationId": "authTokenExchange",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "targetType"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "targetType": {
                    "type": "string",
                    "enum": [
                      "access",
                      "refresh",
                      "temporary"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token exchanged successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "token"
                  ],
                  "properties": {
                    "token": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/businesses": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "summary": "List businesses",
        "operationId": "businesses.list",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/businesses/{orgId}": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "summary": "Get business details",
        "operationId": "businesses.get",
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/catalog/vehicle-classes": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Get public vehicle classes",
        "operationId": "catalog.getVehicleClasses",
        "description": "Get all enabled vehicle classes for public consumption",
        "responses": {
          "200": {
            "description": "List of enabled vehicle classes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "vehicle_classes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VehicleClass"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/drivers/me": {
      "get": {
        "tags": [
          "Drivers"
        ],
        "summary": "Get current driver profile",
        "description": "Retrieve the authenticated driver's profile information",
        "operationId": "getDriverProfile",
        "responses": {
          "200": {
            "description": "Driver profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/drivers/me/rides": {
      "get": {
        "tags": [
          "Drivers"
        ],
        "summary": "Get driver's rides",
        "description": "Retrieve the authenticated driver's ride history",
        "operationId": "getDriverRides",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Rides retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Ride"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/drivers/${driverId}/tips?${params.toString()}": {
      "get": {
        "tags": [
          "Drivers"
        ],
        "summary": "Get tips?$params.toString()",
        "operationId": "getDrivers$driveridTips?$params.tostring()",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "driverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "params.toString()",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/drivers/me/referrals/issuances?${params.toString()}": {
      "get": {
        "tags": [
          "Drivers"
        ],
        "summary": "Get issuances?$params.toString()",
        "operationId": "getDriversMeReferralsIssuances?$params.tostring()",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "params.toString()",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/drivers/me/referrals/summary?${params.toString()}": {
      "get": {
        "tags": [
          "Drivers"
        ],
        "summary": "Get summary?$params.toString()",
        "operationId": "getDriversMeReferralsSummary?$params.tostring()",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "params.toString()",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/drivers/${driverId}/referral-wallet": {
      "get": {
        "tags": [
          "Drivers"
        ],
        "summary": "Get referral-wallet",
        "operationId": "getDrivers$driveridReferral-wallet",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "driverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/drivers/${driverId}/referral-wallet/transactions?page=${page}&page_size=${pageSize}": {
      "get": {
        "tags": [
          "Drivers"
        ],
        "summary": "Get transactions?page=$page&page_size=$pageSize",
        "operationId": "getDrivers$driveridReferral-walletTransactions?page=$page&page_size=$pagesize",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "driverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/drivers/${driverId}/referral-wallet/payout": {
      "post": {
        "tags": [
          "Drivers"
        ],
        "summary": "Create payout",
        "operationId": "postDrivers$driveridReferral-walletPayout",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "TODO: Define request schema"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "driverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/drivers/me/promotions/active?${params.toString()}": {
      "get": {
        "tags": [
          "Drivers"
        ],
        "summary": "Get active?$params.toString()",
        "operationId": "getDriversMePromotionsActive?$params.tostring()",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "params.toString()",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/businesses/{orgId}/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Get business invoices",
        "operationId": "invoices.getBusinessInvoices",
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/invoices/{invoiceId}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Get invoice details",
        "operationId": "invoices.getInvoice",
        "parameters": [
          {
            "in": "path",
            "name": "invoiceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/rider/sendnotification": {
      "get": {
        "tags": [
          "Riders"
        ],
        "summary": "Send notification",
        "operationId": "riders.sendNotification",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/payment/addpm": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Add payment method",
        "operationId": "payments.addPaymentMethod",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/admin/promotions": {
      "get": {
        "tags": [
          "Promotions"
        ],
        "summary": "List promotions",
        "operationId": "promotions.list",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Promotions"
        ],
        "summary": "Create promotion",
        "operationId": "promotions.create",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/riders/me/promotions/active": {
      "get": {
        "tags": [
          "Riders"
        ],
        "summary": "Get active promotions for rider",
        "description": "Retrieve promotions available to the authenticated rider",
        "operationId": "getRiderActivePromotions",
        "responses": {
          "200": {
            "description": "Active promotions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Promotion"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/admin/referrals/issuances": {
      "get": {
        "tags": [
          "Referrals"
        ],
        "summary": "Get referral issuances",
        "operationId": "referrals.getIssuances",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/referrals/claim": {
      "post": {
        "tags": [
          "Referrals"
        ],
        "summary": "Claim referral",
        "operationId": "referrals.claim",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/riders/me": {
      "get": {
        "tags": [
          "Riders"
        ],
        "summary": "Get current rider profile",
        "description": "Retrieve the authenticated rider's profile information",
        "operationId": "getRiderProfile",
        "responses": {
          "200": {
            "description": "Rider profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/riders/me/rides": {
      "get": {
        "tags": [
          "Riders"
        ],
        "summary": "Get rider's rides",
        "description": "Retrieve the authenticated rider's ride history",
        "operationId": "getRiderRides",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by ride status",
            "schema": {
              "type": "string",
              "enum": [
                "requested",
                "accepted",
                "in_progress",
                "completed",
                "cancelled"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rides retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Ride"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/riders/me/referrals/issuances": {
      "get": {
        "tags": [
          "Riders"
        ],
        "summary": "Get rider's referral issuances",
        "description": "Retrieve the authenticated rider's referral issuances",
        "operationId": "getRiderReferralIssuances",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Referral issuances retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ReferralIssuance"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/riders/${riderId}/tips?${params.toString()}": {
      "get": {
        "tags": [
          "Riders"
        ],
        "summary": "Get tips?$params.toString()",
        "operationId": "getRiders$rideridTips?$params.tostring()",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "riderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "params.toString()",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/riders/me/scheduled-rides": {
      "get": {
        "tags": [
          "Scheduled"
        ],
        "summary": "Get rider scheduled rides",
        "operationId": "scheduled.getRiderRides",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Scheduled"
        ],
        "summary": "Create scheduled ride",
        "operationId": "scheduled.createRide",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/riders/me/scheduled-rides?${params.toString()}": {
      "get": {
        "tags": [
          "Riders"
        ],
        "summary": "Get scheduled-rides?$params.toString()",
        "operationId": "getRidersMeScheduled-rides?$params.tostring()",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "params.toString()",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/riders/me/scheduled-rides/${scheduledRideId}": {
      "delete": {
        "tags": [
          "Riders"
        ],
        "summary": "Delete $scheduledRideId",
        "operationId": "deleteRidersMeScheduled-rides$scheduledrideid",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "scheduledRideId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/riders/me/referrals/issuances?${params.toString()}": {
      "get": {
        "tags": [
          "Riders"
        ],
        "summary": "Get issuances?$params.toString()",
        "operationId": "getRidersMeReferralsIssuances?$params.tostring()",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "params.toString()",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/riders/me/referrals/summary?${params.toString()}": {
      "get": {
        "tags": [
          "Riders"
        ],
        "summary": "Get summary?$params.toString()",
        "operationId": "getRidersMeReferralsSummary?$params.tostring()",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "params.toString()",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/riders/${riderId}/referral-wallet": {
      "get": {
        "tags": [
          "Riders"
        ],
        "summary": "Get referral-wallet",
        "operationId": "getRiders$rideridReferral-wallet",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "riderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/riders/${riderId}/referral-wallet/transactions?page=${page}&page_size=${pageSize}": {
      "get": {
        "tags": [
          "Riders"
        ],
        "summary": "Get transactions?page=$page&page_size=$pageSize",
        "operationId": "getRiders$rideridReferral-walletTransactions?page=$page&page_size=$pagesize",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "riderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/riders/me/promotions/active?${params.toString()}": {
      "get": {
        "tags": [
          "Riders"
        ],
        "summary": "Get active?$params.toString()",
        "operationId": "getRidersMePromotionsActive?$params.tostring()",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "params.toString()",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/rides": {
      "post": {
        "tags": [
          "Rides"
        ],
        "summary": "Create a new ride",
        "description": "Request a new ride with pickup and dropoff locations",
        "operationId": "createRide",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "pickupLocation",
                  "dropoffLocation"
                ],
                "properties": {
                  "pickupLocation": {
                    "$ref": "#/components/schemas/Location"
                  },
                  "dropoffLocation": {
                    "$ref": "#/components/schemas/Location"
                  },
                  "vehicleClass": {
                    "type": "string"
                  },
                  "scheduledAt": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ride created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ride"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/rides/{rideId}": {
      "get": {
        "tags": [
          "Rides"
        ],
        "summary": "Get ride details",
        "description": "Retrieve detailed information about a specific ride",
        "operationId": "getRideDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Ride details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ride"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/rides/{rideId}/cancel": {
      "post": {
        "tags": [
          "Rides"
        ],
        "summary": "Cancel ride",
        "description": "Cancel an active or scheduled ride",
        "operationId": "cancelRide",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Ride cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rideId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "cancelled"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/rides/${rideId}/tip": {
      "post": {
        "tags": [
          "Rides"
        ],
        "summary": "Create tip",
        "operationId": "postRides$rideidTip",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "TODO: Define request schema"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "rideId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/admin/scheduled-rides?${params.toString()}": {
      "get": {
        "tags": [
          "Rides"
        ],
        "summary": "Get scheduled-rides?$params.toString()",
        "operationId": "getAdminScheduled-rides?$params.tostring()",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "params.toString()",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/admin/scheduled-rides/summary?${params.toString()}": {
      "get": {
        "tags": [
          "Rides"
        ],
        "summary": "Get summary?$params.toString()",
        "operationId": "getAdminScheduled-ridesSummary?$params.tostring()",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "params.toString()",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/admin/scheduled-rides/${scheduledRideId}/assign-driver": {
      "post": {
        "tags": [
          "Rides"
        ],
        "summary": "Create assign-driver",
        "operationId": "postAdminScheduled-rides$scheduledrideidAssign-driver",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "TODO: Define request schema"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "scheduledRideId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/admin/scheduled-rides/${scheduledRideId}/cancel": {
      "post": {
        "tags": [
          "Rides"
        ],
        "summary": "Create cancel",
        "operationId": "postAdminScheduled-rides$scheduledrideidCancel",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "TODO: Define request schema"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "scheduledRideId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/admin/scheduled-rides/export?${params.toString()}": {
      "get": {
        "tags": [
          "Rides"
        ],
        "summary": "Get export?$params.toString()",
        "operationId": "getAdminScheduled-ridesExport?$params.tostring()",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "params.toString()",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/rides/${rideId}/apply-promotion": {
      "post": {
        "tags": [
          "Rides"
        ],
        "summary": "Create apply-promotion",
        "operationId": "postRides$rideidApply-promotion",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "TODO: Define request schema"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "rideId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "admin/ride/userrides/${Id}": {
      "get": {
        "tags": [
          "Rides"
        ],
        "summary": "Get $Id",
        "operationId": "getAdminRideUserrides$id",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/admin/scheduled-rides": {
      "get": {
        "tags": [
          "Scheduled"
        ],
        "summary": "Get scheduled rides",
        "operationId": "scheduled.getAdminRides",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Basic health check",
        "operationId": "system.getHealth",
        "description": "Basic health check endpoint for monitoring",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "500": {
            "description": "Service is unhealthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "API health check",
        "operationId": "system.getApiHealth",
        "description": "Detailed API health check with service information",
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/HealthResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "service": {
                          "type": "string",
                          "description": "Service name"
                        },
                        "endpoints": {
                          "type": "object",
                          "description": "Available endpoints"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "API is unhealthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rides/{rideId}/tip": {
      "post": {
        "tags": [
          "Tips"
        ],
        "summary": "Add tip to ride",
        "operationId": "tips.addTip",
        "parameters": [
          {
            "in": "path",
            "name": "rideId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/rider": {
      "get": {
        "tags": [
          "Riders"
        ],
        "summary": "Get rider profile",
        "operationId": "riders.getProfile",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Riders"
        ],
        "summary": "Update rider profile",
        "operationId": "riders.updateProfile",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/rider/uploadfiles": {
      "post": {
        "tags": [
          "Riders"
        ],
        "summary": "Upload rider files",
        "operationId": "riders.uploadFiles",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/admin/referral-wallets": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Get referral wallets",
        "operationId": "wallet.getReferralWallets",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token for authentication"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "details": {
            "type": "string",
            "description": "Additional error details"
          }
        }
      },
      "Empty": {
        "type": "object",
        "description": "Empty response"
      },
      "HealthResponse": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "healthy",
              "unhealthy"
            ],
            "description": "Service health status"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Response timestamp"
          },
          "uptime": {
            "type": "number",
            "description": "Service uptime in seconds"
          },
          "memory": {
            "type": "object",
            "description": "Memory usage information"
          },
          "version": {
            "type": "string",
            "description": "Service version"
          }
        }
      },
      "VehicleClass": {
        "type": "object",
        "required": [
          "code",
          "display_name"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier"
          },
          "code": {
            "type": "string",
            "description": "Vehicle class code"
          },
          "display_name": {
            "type": "string",
            "description": "Human-readable name"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Whether the vehicle class is enabled"
          },
          "base_fare_cents": {
            "type": "integer",
            "description": "Base fare in cents"
          },
          "per_km_cents": {
            "type": "integer",
            "description": "Price per kilometer in cents"
          },
          "per_min_cents": {
            "type": "integer",
            "description": "Price per minute in cents"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          }
        }
      }
    },
    "responses": {
      "Ok": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "type": "object"
            }
          }
        }
      },
      "Created": {
        "description": "Created",
        "content": {
          "application/json": {
            "schema": {
              "type": "object"
            }
          }
        }
      },
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unprocessable": {
        "description": "Unprocessable Entity",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServerError": {
        "description": "Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ValidationError": {
        "description": "Validation Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "x-build": {
    "generatedAt": "2025-09-15T03:53:11.095Z",
    "commit": "44677c6"
  }
}