{
  "openapi": "3.0.3",
  "info": {
    "title": "Charged API",
    "description": "The Charged API provides comprehensive ride-sharing and transportation services including:\n\n- **Ride Management**: Request, track, and manage rides\n- **User Management**: Riders, drivers, and business accounts\n- **Payment Processing**: Stripe integration for payments and tips\n- **Referral System**: User referral programs and rewards\n- **Promotions**: Discount codes and promotional campaigns\n- **Scheduled Rides**: Advanced booking and recurring rides\n- **Business Features**: Corporate accounts, invoicing, and analytics\n- **Vehicle Classes**: Different vehicle types including Charged XL\n- **Wallet System**: Digital wallet for credits and transactions\n\n## Authentication\nMost endpoints require a JWT token obtained from `/auth/login` or `/auth/register`. Include the token in the Authorization header:\n```\nAuthorization: Bearer <your-jwt-token>\n```\n\n## Rate Limiting\nAPI requests are rate limited to 1000 requests per hour per API key.\n\n## Error Handling\nThe API uses standard HTTP status codes and returns detailed error information in JSON format.\n\n## Versioning\nThis API is versioned. The current version is v3, accessible at `/v3/` prefix.\n",
    "version": "3.0.0",
    "contact": {
      "name": "Charged API Support",
      "email": "api-support@charged.autos",
      "url": "https://charged.autos/support"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://charged.autos/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.charged.autos/v3",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.charged.autos/v3",
      "description": "Staging server"
    },
    {
      "url": "http://localhost:3000/v3",
      "description": "Development server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication and authorization"
    },
    {
      "name": "Riders",
      "description": "Rider account management and operations"
    },
    {
      "name": "Drivers",
      "description": "Driver account management and operations"
    },
    {
      "name": "Businesses",
      "description": "Business account management and corporate features"
    },
    {
      "name": "Rides",
      "description": "Ride management and tracking"
    },
    {
      "name": "Wallet",
      "description": "Digital wallet and transaction management"
    },
    {
      "name": "Payments",
      "description": "Payment processing and Stripe integration"
    },
    {
      "name": "Tips",
      "description": "Driver tipping system"
    },
    {
      "name": "Referrals",
      "description": "User referral system and rewards"
    },
    {
      "name": "Promotions",
      "description": "Promotional campaigns and discount codes"
    },
    {
      "name": "Scheduled Rides",
      "description": "Advanced booking and scheduled ride management"
    },
    {
      "name": "Invoices",
      "description": "Business invoicing and billing"
    },
    {
      "name": "Catalog",
      "description": "Vehicle classes and service catalog"
    },
    {
      "name": "Notifications",
      "description": "Push notifications and messaging"
    },
    {
      "name": "Analytics",
      "description": "Analytics and reporting"
    },
    {
      "name": "Admin",
      "description": "Administrative operations and management"
    }
  ],
  "externalDocs": {
    "description": "Charged API Documentation",
    "url": "https://docs.charged.autos"
  },
  "paths": {
    "/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "User login",
        "description": "Authenticate user with email and password",
        "operationId": "authLogin",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "token",
                    "user"
                  ],
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "JWT access token"
                    },
                    "refreshToken": {
                      "type": "string",
                      "description": "JWT refresh token"
                    },
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "User registration",
        "description": "Register a new user account",
        "operationId": "authRegister",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password",
                  "firstName",
                  "lastName",
                  "role"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "rider",
                      "driver"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Registration successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "token",
                    "user"
                  ],
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "JWT access token"
                    },
                    "refreshToken": {
                      "type": "string",
                      "description": "JWT refresh token"
                    },
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Refresh access token",
        "description": "Get a new access token using refresh token",
        "operationId": "authRefresh",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refreshToken"
                ],
                "properties": {
                  "refreshToken": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token refreshed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "token"
                  ],
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "New JWT access token"
                    },
                    "refreshToken": {
                      "type": "string",
                      "description": "New JWT refresh token"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/token/exchange": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Exchange token",
        "description": "Exchange one type of token for another (e.g., temporary for permanent)",
        "operationId": "authTokenExchange",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "targetType"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "targetType": {
                    "type": "string",
                    "enum": [
                      "access",
                      "refresh",
                      "temporary"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token exchanged successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "token"
                  ],
                  "properties": {
                    "token": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/drivers/me": {
      "get": {
        "tags": [
          "Drivers"
        ],
        "summary": "Get current driver profile",
        "description": "Retrieve the authenticated driver's profile information",
        "operationId": "getDriverProfile",
        "responses": {
          "200": {
            "description": "Driver profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/drivers/me/rides": {
      "get": {
        "tags": [
          "Drivers"
        ],
        "summary": "Get driver's rides",
        "description": "Retrieve the authenticated driver's ride history",
        "operationId": "getDriverRides",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Rides retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Ride"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/riders/me": {
      "get": {
        "tags": [
          "Riders"
        ],
        "summary": "Get current rider profile",
        "description": "Retrieve the authenticated rider's profile information",
        "operationId": "getRiderProfile",
        "responses": {
          "200": {
            "description": "Rider profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/riders/me/rides": {
      "get": {
        "tags": [
          "Riders"
        ],
        "summary": "Get rider's rides",
        "description": "Retrieve the authenticated rider's ride history",
        "operationId": "getRiderRides",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by ride status",
            "schema": {
              "type": "string",
              "enum": [
                "requested",
                "accepted",
                "in_progress",
                "completed",
                "cancelled"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rides retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Ride"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/riders/me/referrals/issuances": {
      "get": {
        "tags": [
          "Riders"
        ],
        "summary": "Get rider's referral issuances",
        "description": "Retrieve the authenticated rider's referral issuances",
        "operationId": "getRiderReferralIssuances",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Referral issuances retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ReferralIssuance"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/riders/me/promotions/active": {
      "get": {
        "tags": [
          "Riders"
        ],
        "summary": "Get active promotions for rider",
        "description": "Retrieve promotions available to the authenticated rider",
        "operationId": "getRiderActivePromotions",
        "responses": {
          "200": {
            "description": "Active promotions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Promotion"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/rides": {
      "post": {
        "tags": [
          "Rides"
        ],
        "summary": "Create a new ride",
        "description": "Request a new ride with pickup and dropoff locations",
        "operationId": "createRide",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "pickupLocation",
                  "dropoffLocation"
                ],
                "properties": {
                  "pickupLocation": {
                    "$ref": "#/components/schemas/Location"
                  },
                  "dropoffLocation": {
                    "$ref": "#/components/schemas/Location"
                  },
                  "vehicleClass": {
                    "type": "string"
                  },
                  "scheduledAt": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ride created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ride"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/rides/{rideId}": {
      "get": {
        "tags": [
          "Rides"
        ],
        "summary": "Get ride details",
        "description": "Retrieve detailed information about a specific ride",
        "operationId": "getRideDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Ride details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ride"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/rides/{rideId}/cancel": {
      "post": {
        "tags": [
          "Rides"
        ],
        "summary": "Cancel ride",
        "description": "Cancel an active or scheduled ride",
        "operationId": "cancelRide",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Ride cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rideId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "cancelled"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained from /auth/login or /auth/register"
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication required",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Insufficient permissions",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ValidationError": {
        "description": "Validation error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ValidationError"
            }
          }
        }
      }
    },
    "parameters": {
      "PageParam": {
        "name": "page",
        "in": "query",
        "description": "Page number for pagination",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "LimitParam": {
        "name": "limit",
        "in": "query",
        "description": "Number of items per page",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20
        }
      },
      "IdParam": {
        "name": "id",
        "in": "path",
        "description": "Resource identifier",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^[a-zA-Z0-9_-]+$"
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message",
          "code"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "code": {
            "type": "string",
            "description": "Error code for programmatic handling"
          },
          "details": {
            "type": "object",
            "description": "Additional error details"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "When the error occurred"
          }
        }
      },
      "ValidationError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Error"
          },
          {
            "type": "object",
            "properties": {
              "validationErrors": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "Pagination": {
        "type": "object",
        "required": [
          "page",
          "limit",
          "total",
          "totalPages"
        ],
        "properties": {
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "limit": {
            "type": "integer",
            "minimum": 1
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "totalPages": {
            "type": "integer",
            "minimum": 0
          },
          "hasNext": {
            "type": "boolean"
          },
          "hasPrev": {
            "type": "boolean"
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "required": [
          "data",
          "pagination"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {}
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "User": {
        "type": "object",
        "required": [
          "id",
          "email",
          "firstName",
          "lastName",
          "role",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "rider",
              "driver",
              "admin",
              "business"
            ]
          },
          "isActive": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Ride": {
        "type": "object",
        "required": [
          "id",
          "riderId",
          "driverId",
          "status",
          "pickupLocation",
          "dropoffLocation",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "riderId": {
            "type": "string"
          },
          "driverId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "requested",
              "accepted",
              "in_progress",
              "completed",
              "cancelled"
            ]
          },
          "pickupLocation": {
            "$ref": "#/components/schemas/Location"
          },
          "dropoffLocation": {
            "$ref": "#/components/schemas/Location"
          },
          "fare": {
            "type": "number",
            "format": "float"
          },
          "distance": {
            "type": "number",
            "format": "float"
          },
          "duration": {
            "type": "integer",
            "description": "Duration in minutes"
          },
          "vehicleClass": {
            "type": "string"
          },
          "scheduledAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Location": {
        "type": "object",
        "required": [
          "latitude",
          "longitude"
        ],
        "properties": {
          "latitude": {
            "type": "number",
            "format": "float"
          },
          "longitude": {
            "type": "number",
            "format": "float"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zipCode": {
            "type": "string"
          }
        }
      },
      "WalletEntry": {
        "type": "object",
        "required": [
          "id",
          "userId",
          "type",
          "amount",
          "balance",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "credit",
              "debit",
              "tip",
              "referral",
              "promotion",
              "refund"
            ]
          },
          "amount": {
            "type": "number",
            "format": "float"
          },
          "balance": {
            "type": "number",
            "format": "float"
          },
          "description": {
            "type": "string"
          },
          "referenceId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Tip": {
        "type": "object",
        "required": [
          "id",
          "rideId",
          "driverId",
          "riderId",
          "amount",
          "status",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "rideId": {
            "type": "string"
          },
          "driverId": {
            "type": "string"
          },
          "riderId": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "format": "float"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "completed",
              "failed",
              "refunded"
            ]
          },
          "paymentMethod": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ReferralIssuance": {
        "type": "object",
        "required": [
          "id",
          "referrerId",
          "refereeId",
          "amount",
          "status",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "referrerId": {
            "type": "string"
          },
          "refereeId": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "format": "float"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "completed",
              "expired",
              "voided"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "signup",
              "ride_completion",
              "referral_bonus"
            ]
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Promotion": {
        "type": "object",
        "required": [
          "id",
          "code",
          "name",
          "type",
          "value",
          "status",
          "validFrom",
          "validTo",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "percentage",
              "fixed_amount",
              "free_ride"
            ]
          },
          "value": {
            "type": "number",
            "format": "float"
          },
          "maxUses": {
            "type": "integer"
          },
          "usedCount": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive",
              "expired"
            ]
          },
          "validFrom": {
            "type": "string",
            "format": "date-time"
          },
          "validTo": {
            "type": "string",
            "format": "date-time"
          },
          "conditions": {
            "type": "object",
            "properties": {
              "minFare": {
                "type": "number",
                "format": "float"
              },
              "vehicleClasses": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "userTypes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PromotionRedemption": {
        "type": "object",
        "required": [
          "id",
          "promotionId",
          "userId",
          "rideId",
          "discountAmount",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "promotionId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "rideId": {
            "type": "string"
          },
          "discountAmount": {
            "type": "number",
            "format": "float"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ScheduledRide": {
        "type": "object",
        "required": [
          "id",
          "riderId",
          "pickupLocation",
          "dropoffLocation",
          "scheduledAt",
          "status",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "riderId": {
            "type": "string"
          },
          "driverId": {
            "type": "string"
          },
          "businessId": {
            "type": "string"
          },
          "pickupLocation": {
            "$ref": "#/components/schemas/Location"
          },
          "dropoffLocation": {
            "$ref": "#/components/schemas/Location"
          },
          "scheduledAt": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "scheduled",
              "assigned",
              "in_progress",
              "completed",
              "cancelled"
            ]
          },
          "vehicleClass": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Invoice": {
        "type": "object",
        "required": [
          "id",
          "businessId",
          "totalAmount",
          "status",
          "dueDate",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "businessId": {
            "type": "string"
          },
          "totalAmount": {
            "type": "number",
            "format": "float"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "sent",
              "paid",
              "overdue",
              "cancelled"
            ]
          },
          "dueDate": {
            "type": "string",
            "format": "date-time"
          },
          "paidAt": {
            "type": "string",
            "format": "date-time"
          },
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InvoiceLine"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "InvoiceLine": {
        "type": "object",
        "required": [
          "description",
          "quantity",
          "unitPrice",
          "totalPrice"
        ],
        "properties": {
          "description": {
            "type": "string"
          },
          "quantity": {
            "type": "number",
            "format": "float"
          },
          "unitPrice": {
            "type": "number",
            "format": "float"
          },
          "totalPrice": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "VehicleClass": {
        "type": "object",
        "required": [
          "code",
          "name",
          "baseFare",
          "perMileRate",
          "isActive",
          "createdAt"
        ],
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "baseFare": {
            "type": "number",
            "format": "float"
          },
          "perMileRate": {
            "type": "number",
            "format": "float"
          },
          "perMinuteRate": {
            "type": "number",
            "format": "float"
          },
          "isActive": {
            "type": "boolean"
          },
          "isChargedXL": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BusinessReward": {
        "type": "object",
        "required": [
          "id",
          "businessId",
          "type",
          "value",
          "status",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "businessId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "ride_discount",
              "cashback",
              "bonus_credit"
            ]
          },
          "value": {
            "type": "number",
            "format": "float"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive",
              "expired"
            ]
          },
          "conditions": {
            "type": "object"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "required": [
          "id",
          "userId",
          "type",
          "amount",
          "status",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "payment",
              "refund",
              "tip",
              "referral",
              "promotion",
              "wallet_credit"
            ]
          },
          "amount": {
            "type": "number",
            "format": "float"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "completed",
              "failed",
              "cancelled"
            ]
          },
          "paymentMethod": {
            "type": "string"
          },
          "referenceId": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}